https://disclosure.capitarvs.co.uk/cheqs/csig/viewApps.do?orgId=&channel2=&status=$status_g&status=$status_g&awaitingApplicantPaymentValue=false&sortOrder=asc&awaitingApplicantCertificateValue=false&displaySize=50&channel=ebulk&queryOutstandingValue=false&page=14&status=$status_g&awaitingApplicantPaymentValue=false&sortOrder=asc&random=$rand